.masonary {
    &,
    & * {
        box-sizing: border-box;
    }

    &--columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item {
            width: 33.33%;

            span {
                display: block;
                padding: 0.25rem;
                margin-bottom: 6px;
                max-width: 100%;
            }
            img {
                display: block;
                border-radius: 3px;
                width: 100%;
                height: auto;
            }

            figcaption {
                display: block;
                margin: 5px 0 0 0;
                text-align: left;
                font-style: normal;
                font-size: 0.75rem;
                opacity: 0.8;
            }
        }
    }
}