// media queries
@media screen and (max-width: 700px) {
    body {
      margin: 8px;
    }
  }
  
  @media screen and (max-width: 370px) {
    .nav-item {
      font-size: 0.8rem;
    }
  
    .title-tags {
      font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    h1 {
      font-size: 1.60rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    h3 {
      font-size: 1.125rem;
    }
  
    h4 {
      font-size: 1rem;
    }
  
    h5,
    h6 {
      font-size: 0.875rem;
    }

    li {
        font-size: 0.875rem;
        line-height: 2;
    }

    figcaption {
      font-size: 0.9rem;
    }
  }